@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #125568 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #125568 !important;
  border-color: #125568 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #072027 !important;
  border-color: #072027 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #072027 !important;
  border-color: #072027 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #030e11;
  color: #030e11;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #125568;
  border-color: #125568;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #125568 !important;
  border-color: #125568 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #125568 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #030e11 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #125568;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #25aed5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #efefef;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 53px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 0;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  outline: none;
  background-color: #efefef;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f9e2af;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f9e2af;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f9e2af;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5aeb5 !important;
  box-shadow: none !important;
}
.cid-rzcAynIqhX .nav-item:focus,
.cid-rzcAynIqhX .nav-link:focus {
  outline: none;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzcAynIqhX .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rzcAynIqhX .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rzcAynIqhX .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rzcAynIqhX .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rzcAynIqhX .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rzcAynIqhX .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rzcAynIqhX .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem - 1rem);
  }
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rzcAynIqhX .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rzcAynIqhX .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rzcAynIqhX .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rzcAynIqhX .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rzcAynIqhX .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rzcAynIqhX .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rzcAynIqhX .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rzcAynIqhX .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rzcAynIqhX .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rzcAynIqhX .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rzcAynIqhX .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rzcAynIqhX .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rzcAynIqhX .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rzcAynIqhX .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rzcAynIqhX .dropdown-item.active,
.cid-rzcAynIqhX .dropdown-item:active {
  background-color: transparent;
}
.cid-rzcAynIqhX .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rzcAynIqhX .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rzcAynIqhX .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rzcAynIqhX .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rzcAynIqhX .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rzcAynIqhX .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzcAynIqhX ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rzcAynIqhX .navbar-buttons {
  text-align: center;
}
.cid-rzcAynIqhX button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzcAynIqhX .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rzcAynIqhX a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzcAynIqhX .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rzcAynIqhX .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rzcAynIqhX .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-rzcAynIqhX .nav-link:hover,
.cid-rzcAynIqhX .dropdown-item:hover,
.cid-rzcAynIqhX .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzcAynIqhX .navbar {
    height: 77px;
  }
  .cid-rzcAynIqhX .navbar.opened {
    height: auto;
  }
}
.cid-rzcE5hURk7 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-rzcE5hURk7 .container-fluid {
  padding: 0 3rem;
}
.cid-rzcE5hURk7 .mbr-section-title {
  margin-bottom: 1.5em;
}
.cid-rzcE5hURk7 .mbr-section-subtitle {
  color: #ffbc00;
}
.cid-rzcE5hURk7 .form-control {
  border: 1px solid #ddd;
  background-color: #efefef;
  padding: 10px 20px;
  width: 100%;
  min-height: 53px;
  border-radius: 0;
}
.cid-rzcE5hURk7 textarea.form-control {
  padding: 1rem;
  min-height: 225px;
}
.cid-rzcE5hURk7 .text-block {
  background: #444444;
  padding: 2rem;
  outline: 1px dashed #ffda73;
  outline-offset: -15px;
}
.cid-rzcE5hURk7 .work-list {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rzcE5hURk7 .time-block-title {
  color: #ffbc00;
}
.cid-rzcE5hURk7 .time-title {
  color: #bdecb6;
}
@media (max-width: 767px) {
  .cid-rzcE5hURk7 .container-fluid {
    padding: 0 1rem;
  }
  .cid-rzcE5hURk7 .btn {
    padding: 1rem 2rem;
    font-size: 16px !important;
  }
  .cid-rzcE5hURk7 .text-block {
    margin-bottom: 2rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzcE5hURk7 .text-block {
    border: 1px dashed #ffda73;
    outline: 15px solid #444444;
  }
}
.cid-rzd4v2oTeW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9e2af;
  transition: background-color 0.3s ease-in-out;
}
.cid-rzd4v2oTeW:hover {
  background-color: #e7dacc;
}
.cid-rzd4v2oTeW .mbr-section-title {
  margin: 0;
}
.cid-rzd4v2oTeW .card-wrapper {
  z-index: 3;
}
.cid-rzd4v2oTeW .full-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-rzd4v2oTeW .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-rzd4v2oTeW .mbr-section-title,
.cid-rzd4v2oTeW .text-block {
  color: #125568;
}
.cid-rzd5fJP6aC {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzd5fJP6aC .text-block {
  z-index: 2;
}
.cid-rzd5fJP6aC .content-panel {
  width: 110%;
  background: #ffffff;
  padding: 3rem;
}
.cid-rzd5fJP6aC .menu-box {
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rzd5fJP6aC .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: auto;
  word-break: break-word;
}
.cid-rzd5fJP6aC .item-title {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rzd5fJP6aC .text-block {
    padding-bottom: 2rem;
  }
  .cid-rzd5fJP6aC .content-panel {
    width: 100%;
    padding: 1rem;
  }
}
.cid-rzd5fJP6aC .ocultar {
  display: none;
}
.cid-rzcFopTeRA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-rzcFopTeRA .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rzcFopTeRA .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rzcFopTeRA .text-block {
    padding-right: 0;
  }
}
.cid-rzcFopTeRA .google-map {
  width: 100%;
  height: 30rem;
}
.cid-rzcFopTeRA .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rzcFopTeRA .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rzcFopTeRA .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rzcAynIqhX .nav-item:focus,
.cid-rzcAynIqhX .nav-link:focus {
  outline: none;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rzcAynIqhX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzcAynIqhX .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rzcAynIqhX .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rzcAynIqhX .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rzcAynIqhX .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rzcAynIqhX .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rzcAynIqhX .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rzcAynIqhX .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem - 1rem);
  }
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rzcAynIqhX .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rzcAynIqhX .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rzcAynIqhX .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rzcAynIqhX .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rzcAynIqhX .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rzcAynIqhX .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rzcAynIqhX .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rzcAynIqhX .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rzcAynIqhX .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rzcAynIqhX .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rzcAynIqhX .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rzcAynIqhX .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rzcAynIqhX .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rzcAynIqhX .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rzcAynIqhX .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rzcAynIqhX .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rzcAynIqhX .dropdown-item.active,
.cid-rzcAynIqhX .dropdown-item:active {
  background-color: transparent;
}
.cid-rzcAynIqhX .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rzcAynIqhX .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rzcAynIqhX .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rzcAynIqhX .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rzcAynIqhX .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rzcAynIqhX .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzcAynIqhX ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rzcAynIqhX .navbar-buttons {
  text-align: center;
}
.cid-rzcAynIqhX button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzcAynIqhX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzcAynIqhX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzcAynIqhX .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rzcAynIqhX a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzcAynIqhX .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rzcAynIqhX .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rzcAynIqhX .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-rzcAynIqhX .nav-link:hover,
.cid-rzcAynIqhX .dropdown-item:hover,
.cid-rzcAynIqhX .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzcAynIqhX .navbar {
    height: 77px;
  }
  .cid-rzcAynIqhX .navbar.opened {
    height: auto;
  }
}
.cid-rzdcmMkO1t {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzdcmMkO1t .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rzdcmMkO1t .text-block {
  position: relative;
  z-index: 0;
}
.cid-rzdcmMkO1t .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rzdcmMkO1t .box {
  left: 20%;
}
.cid-rzdcmMkO1t .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-rzdcmMkO1t .mbr-section-text,
.cid-rzdcmMkO1t .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-rzdcmMkO1t .text-box {
    display: none;
  }
  .cid-rzdcmMkO1t .mbr-section-title,
  .cid-rzdcmMkO1t .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rzdcmMkO1t .box {
    display: none;
  }
  .cid-rzdcmMkO1t .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rzdcmMkO1t .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rzdcmMkO1t .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rzdcnGFiDY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzdcnGFiDY .content-block {
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-rzdcnGFiDY .content-block .mbr-text {
  margin: 0;
}
.cid-rzdcnGFiDY .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-rzdcnGFiDY .image-wrap:hover img {
  opacity: 1;
  -webkit-transform: translateY(-4%);
  transform: translateY(-4%);
}
.cid-rzdcnGFiDY .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-rzdcnGFiDY .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-rzdcnGFiDY .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-rzdcnGFiDY h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-rzdcolLxtY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-rzdcolLxtY .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rzdcolLxtY .main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rzdcolLxtY .image-element {
  padding: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzdcolLxtY .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rzdcolLxtY .text-element {
  padding: 1rem;
}
.cid-rzdcolLxtY .main,
.cid-rzdcolLxtY .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-rzdcolLxtY .main:first-child {
    padding-top: 1rem;
  }
  .cid-rzdcolLxtY .image-element,
  .cid-rzdcolLxtY .text-element {
    margin-bottom: 1rem;
  }
  .cid-rzdcolLxtY .main-reverse {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-rzdcolLxtY .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-rzdcolLxtY .image-element,
  .cid-rzdcolLxtY .text-element {
    margin-bottom: 0;
  }
  .cid-rzdcolLxtY .main:first-child {
    padding-top: 0;
  }
}
.cid-rzdcqr9cYT {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-rzdcqr9cYT .menu-item {
  padding-bottom: 2rem;
}
.cid-rzdcqr9cYT .menu-box {
  display: flex;
}
.cid-rzdcqr9cYT .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
}
.cid-rzdcqr9cYT .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rzdcqr9cYT .menu-item:nth-child(odd) {
    padding-right: 2rem;
  }
  .cid-rzdcqr9cYT .menu-item:nth-child(even) {
    padding-left: 2rem;
  }
}
.cid-rzdcqX8YtK {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-rzdcqX8YtK .menu-item {
  padding: 0 1rem 1rem 1rem;
}
.cid-rzdcqX8YtK .menu-item .special-label {
  display: none;
}
.cid-rzdcqX8YtK .menu-item.special-item {
  padding-bottom: 0;
  margin-bottom: 1rem;
  border: 2px solid #9f3942;
}
.cid-rzdcqX8YtK .menu-item.special-item .special-label {
  display: block;
  width: 100%;
  word-break: break-word;
}
.cid-rzdcqX8YtK .menu-item.special-item .special-label .label-text {
  max-width: 100%;
  background: #9f3942;
  padding: .5rem 1rem;
  display: inline-block;
}
.cid-rzdcqX8YtK .special-label {
  color: #fff;
}
.cid-rzdcqX8YtK .menu-box {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rzdcqX8YtK .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
  width: 100%;
}
.cid-rzdcqX8YtK .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rzdcqX8YtK .menu-row .menu-item:last-child {
  margin-bottom: 2rem;
}
.cid-rzdcqX8YtK .menu-row {
  margin: 0;
}
.cid-rzdcqX8YtK .group-title {
  color: #9f3942;
  font-weight: bold;
}
.cid-rzdcrzN7Sq {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-rzdcrzN7Sq .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-rzdcrzN7Sq .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-rzdcrzN7Sq .image-wrap img {
  width: 100%;
}
.cid-rzdcrzN7Sq .mbr-desc {
  width: 100%;
}
.cid-rzdcrzN7Sq .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-rzdcrzN7Sq .nav {
  border: none;
}
.cid-rzdcrzN7Sq .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rzdcrzN7Sq .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-rzdcrzN7Sq .card-box .mbr-price {
  margin: 0;
}
.cid-rzdcrzN7Sq .card-box .mbr-text {
  line-height: 1;
}
.cid-rzdcrzN7Sq .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-rzdcrzN7Sq .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-rzdcrzN7Sq .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  .cid-rzdcrzN7Sq .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
